body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 20px 20px;
  border-bottom: 1px solid  rgb(15, 171, 46);
}

.header__text {
  color: rgb(0, 0, 0);
  font-size: 20px;

}

.main__link {
  text-decoration: none;
}

.header__container{
  display: flex;
  align-items: center;
  gap: 2%;
}

.logo {
  width: 100px;
  height: 100px;
  background: url("../img/logo.png");
  background-size: 100px 100px;
}

.login__container {
  margin-left: 20px;
  width: 350px;
}

.login__container input {
  border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
}

.login__btn{
  padding: 10px 20px;
    background-color:rgb(15, 171, 46);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.link__client {
  text-decoration: none;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 5px;
  padding: 5px;
  color: rgb(123, 123, 123);
}

.main__container {

  margin-left: 20px;
  margin-bottom: 20px;
  width: 90%;

}

.filter__part {
  width: 25%;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 40px;
}

.product-item {
  display: flex;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 5px;
  padding: 15px ;
}

.header__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.product-item .image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: 1px solid #d0d0d0;
}

.product-item .image img {
  max-width: 100%;
}

.search__btn{
  padding: 10px 20px;
    background-color:rgb(15, 171, 46);
    color: white;
    border: none;
    border-radius: 5px;
    width: 10%;
}

.product-item .title {
  display: block;
  color: inherit;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
}

.product-item .label {
  font-weight: 600;
}

.products-search-form {
  margin-bottom: 40px;
}

.products-search {
  display: flex;
 gap: 5%;
  margin-bottom: 10px;
  width: 80%;
}

.products-search label {
  display: block;
  margin-bottom: 5px;
}

.products-search input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 5px;
}

.product-edit-fields {
  width: 50%;
}

.product-edit-fields .field {
  margin-bottom: 20px;
 
}

.field input, textarea {
  border: 1px solid rgb(193, 193, 193);
  border-radius: 5px;
}

.product-edit-fields .field input,
.product-edit-fields .field textarea {
  width: 100%;
}

.product-edit-fields .field label {
  display: block;
  margin-bottom: 5px;
}

.product-edit-comments .product-comment {
  margin-bottom: 20px;
}

.product-comment {
  padding: 10px 15px;
  border-bottom: 1px solid rgb(15, 171, 46);
}

.product-comment .remove-mark {
  margin-top: 20px;
  text-align: left;
  font-size: 10px;
}

.product-edit-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 10px 15px;
}

.product-image .image-wrapper {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.product-image .image-wrapper img {
  max-width: 100%;
}

.product-image .control {
  text-align: center;
}

.product-image .remove-mark {
  margin-bottom: 10px;
  text-align: center;
  
}

.product-edit-footer {
  margin-top: 60px;
}

.product-edit-similar-products {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.similar-product {
padding: 5px;
border: 1px solid rgb(193, 193, 193);
border-radius: 5px;
width: 10%;
}

.similarProduct .remove-mark {
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 5px;
 
}

.remove-mark label {
  font-size: 14px;
  
}

.product-edit-container {

    margin: 20px;

}

button:hover {
  background-color: rgb(8, 128, 32);
  cursor: pointer;
}


.comment__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}