@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.text {
    margin: 0;
    padding-bottom: 5px;
}

.mainSpinner {
    width: 50px;
    height: 50px;
    border-bottom: 2px solid rgb(86, 235, 116);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.additionalSpinner {
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-top: 5px solid rgb(86, 235, 116);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}