<div class="login__container">

<p>Please enter you Admin login and password:</p>

<form action="authenticate" method="post">
   <p>
       <label for="username">Username:</label>
       <input id="username" type="text" name="username" required>
   </p>

   <p>
       <label for="password">Password:</label>
       <input id="password" type="password" name="password" required>
   </p>

   <button class="login__btn" type="submit">Login as admin</button>
</form>
</div>