.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: rgb(15, 171, 46);
  color: white;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(8, 128, 32);
  cursor: pointer;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  list-style: none;
  padding: 0;
}
