<div class="product-edit-container">

<h1>
   Create new product
</h1>
<form action="<%= `new-product` %>" method="post" class="product-edit-form">
   <div class="product-edit-fields">
       <div class="field">
           <label for="item-title">Title:</label>
           <input id="item-title" type="text" name="title" value="" />
       </div>

       <div class="field">
           <label for="item-description">Description:</label>
           <textarea id="item-description" rows="3" name="description"></textarea>
       </div>

       <div class="field">
           <label for="item-price">Price:</label>
           <input id="item-price" type="text" name="price" value="" />
       </div>
   </div>

       <div class="product-edit-footer">
           <button class="search__btn" type="submit">Save changes</button>
       </div>
</form>
</div>