.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    gap: 20px;
    width: 100%;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.mainImg {
    width: auto;
    height: 300px;
    object-fit: cover;
}

.list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: left;
}

.smallImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.text {
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
}

.textHl {
    margin: 0 auto;
    padding-bottom: 5px;
   
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.similarProduct {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 15px;
    width: 150px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    justify-content: left;
    align-items: start;
}

.commentsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    width: 100%;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 10px;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.input {
    padding: 10px;
    width: 30%;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
}

.textArea {
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color:rgb(15, 171, 46);
    color: white;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(8, 128, 32);
    cursor: pointer;
}

