.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
    margin: 0 auto;
    gap: 20px;
    border: 1px solid rgb(193, 193, 193);;
    border-radius: 8px;
    padding: 10px;
}

.link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.title {
    font-size: 18px;
    margin: 0;
}

.img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.text {
    margin: 0;
    padding-bottom: 5px;
}
